.smth-hook {
	margin: 5px;
	background: #6469e6;
	color: #fff;
	padding: 5px;
	display: inline-block;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.smth-hidden {
	display: none;
}

.smth-hook .smth-activator {
	transform: rotate(90deg);
	transition: all .3s;
	background: transparent;
	padding: 0.5em;
	margin-left: 1em;
	outline: none;
}

.smth-hook .smth-activator:hover {
	background-color: #0073aa;
}

.smth-hook.filter {
	background-color: #ff7217;
}

.smth-hook-details {

}
